.wallSetCon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  padding: 05px;
}
  
  .wallSettings {
    position: absolute; /* Keeps it positioned relative to its closest positioned ancestor */
    bottom: 190px; /* Aligns it at the bottom */
    left: 1250px; /* Adjust as necessary for horizontal positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #F0E68C;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    padding: 20px;
    border-radius: 10px;
    z-index: 1000;
    width: 350px;
    text-align: center;
    height: 600px; /* Fixed height */
    overflow-y: auto; /* Make it scrollable */
    border-top: 20px solid #F5DEB3;
    border-bottom: 10px solid #D2B48C;
}
  
.wallSettings h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
  }
  
  .wallSettings p {
    font-size: 16px;
    color: #666;
    margin: 5px 0;
  }
  
  .wallSettings img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  .wallSettings button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #834333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .wallSettings button:hover {
    background-color: #B87333;
  }
  
  .wallSettings input[type="file"] {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .wallSettings form {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .wallSettings form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .wallSettings form input[type="text"],
  .wallSettings form input[type="password"],
  .wallSettings form input[type="submit"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px); /* Adjust for padding and border */
  }
  
  .wallSettings form input[type="submit"] {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .wallSettings form input[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .wallSettings p.message {
    margin-top: 10px;
    color: red;
  }

  .refreshButton {
    position: sticky; /* Fixed positioning */
    bottom: 0; /* Stick to the bottom */
    /* Add left or right property as needed to position horizontally */
  }
  
  .wallMessages {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    gap: 1rem;
    padding: 1rem;
    border-radius: 8px;
    background-color: rgba(242, 210, 189, 0.3);
    /* background: rgba(250, 249, 246, 0.1); */
    backdrop-filter: blur(10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: perspective(600px) rotateX(0deg);
    transition: transform 0.5s;
    border: 2px solid #483C32;
    /* background-color: #FAF9F6; */
    align-items: center;
    height: 90vh;
    width: 90%;
    line-height: 1.6;
  }

  .wallMessages::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: repeating-linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05) 1px,
      transparent 1px,
      transparent 30px
    );
    pointer-events: none;
  }

  .wallMessages div {
    margin: 8px 0;
  }