#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@font-face {
  font-family: 'Nunito';
  src: url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet');
}

.Container {
  flex: 1;
  border: 1px solid #FFDEAD;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(250, 249, 246, 0.1); 
    backdrop-filter: blur(10px); 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    transform: perspective(600px) rotateX(0deg);
    transition: transform 0.5s;
    /* background-color: #FAF9F6; */
    align-items: center;
    height: 80vh;
    gap: .5rem;
  }

  .card {
    background-color: red;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }

  .homeContainer {
    display: flex;
    flex: 2;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 80vh;
    gap: 1.5rem;
  }

  .text {
    font-size: 1.2rem;
    font-weight: 500;
    background-color: #FFFDD0;
    color: #333;
    border: 1px solid #F3E5AB;
    padding: 5px;
    border-radius: 5px;
  }

  .textor {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .smallText {
    font-size: 0.8rem; /* Adjust as needed */
  }

  .text:hover {
    background-color: #FFF5EE;
    border: 1px solid #F3E5AB;
  }